*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.content{
    max-width: 600px;
    min-height: 350px;
    width: 550px;
    height: 300px;
    padding: 30px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 12px;
    color: hsl(193, 38%, 86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.content span{
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    letter-spacing: 2px;
}

.content p, h2{
    text-align: center;
    font-size: 28px;
}

.content p::after{
    content: '';
    display: block;
    width: 300px;
    height: 16px;
    margin: 30px auto auto auto;
    background-image: url('./images/pattern-divider-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content button{
    cursor: pointer;
    border: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    bottom: -30px;
    transition: .3s ease-out;
}

.content button:hover{
    box-shadow: 0 0 45px hsl(150, 100%, 66%);
}

@media(max-width: 700px){
    .content{
        width: 350px;
        padding: 30px;
        gap: 15px;
    }

    .content p, h2{
        font-size: 24px;
    }
}

@media(max-width: 400px){
    .content{
        width: 300px;
    }

    .content p, h2{
        font-size: 20px;
    }

    .content p::after{
        width: 250px;
    }
}